<!-- ngx infinite scroll directive with default parameters. Emits event when scrolled to the bottom -->
<div infiniteScroll (scrolled)="scroll()" *ngIf="items.length>0; else emptystate">
  <div class="card my-3 text-white" *ngFor="let item of items">
    <img class="card-img"  *ngIf="item.imageUrl" [src]="item.imageUrl" alt="{{ item.title }}">
    <div class="card-img-overlay">
      <h5 class="card-title">{{ item.title }}</h5>
    </div>
  </div>
</div>

<ng-template #emptystate>
    <div class="alert alert-light" *ngIf="searchQuery">
      Can't find neither GIFs nor Stickers. Try typing something else
    </div>
  </ng-template>