<div class="container" *ngIf="giphyList | async as items">
  <app-giphys-list [items]="items" (scrolled)="nextPage()" *ngIf="items.length>0; else emptystate"></app-giphys-list>
</div>

<ng-template #emptystate>
  <div class="card my-3" >
    <div class="card-body">
      <h5 class="card-title">No giphy to display</h5>
      <p class="card-text">Type something in a searchbar to see giphys</p>
    </div>
  </div>
</ng-template>
<!-- TODO: implement proper empty state template (Empty search vs Not found) -->